@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-lightBlack {
  background-color: #1B252B;
}
.bg-darkGray {
  background-color: #2C3243 !important;
}
.bg-darkBlack{
  background-color: #0B1418 !important;
}
.bg-darkBlue{
  background-color: #171D2D !important;
}
.bg-purple {
  background-color: #392B7F;
}
.purple {
  color: #39395F;
}
.lightGray{
  color: #6F7685;
}
input {
  outline: none !important;
}
.nav-btn{
  @apply h-9 w-9 rounded-md bg-lightBlack text-white hover:bg-gray-600 flex items-center justify-center cursor-pointer
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #0B1418; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #1B252B; /* Blue thumb */
  border-radius: 10px;
  border: 1px solid transparent;
}
.mar0auto{
  margin: 0 auto !important;
}
.widthWebkit{
    width: -webkit-fill-available !important;
}
.loader {
  border: 4px solid #f3f3f3;         /* Light grey background */
  border-top: 4px solid #3498db;     /* Blue spinner */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto; /* center if needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}